* {
	margin: 0;
	padding: 0;
	font-size: 2vh;
	border-radius: 0.5vh;
	transition: all 0.25s;
	-webkit-user-select: none;
	/* 适用于Webkit浏览器 */
	-moz-user-select: none;
	/* 适用于Firefox */
	-ms-user-select: none;
	/* 适用于IE10+ */
	user-select: none;
	/* 标准语法 */
}

body>ol {
	list-style: none;
}

button {
	cursor: pointer;
	color: #000;
}

.cancel,
.submit,
#rnd .op div {
	cursor: pointer;
}

#mainpage>div {
	border-radius: 0;
}

#mainpage .header {
	width: 100vw;
	height: 5vh;
	background: #464;
	border-radius: 0 0 0.5vh 0.5vh;
}

#mainpage .header h1 {
	color: #fff;
	font-size: 2.5vh;
	line-height: 5vh;
	margin-left: 2vh;
	display: inline;
}

#mainpage .header button {
	float: right;
	font-size: 2vh;
	color: #000;
	background: #eee;
	border: 0;
	padding: 0.25vh 1vh;
	margin-right: 2vh;
	margin-top: 0.75vh;
}

#mainpage .rounds {
	width: 100vw;
	height: 40vh;
	background: #eee;
	overflow-y: scroll;
}

#mainpage .rounds ul {
	list-style: none;
	margin-left: 2vh;
	margin-top: 2vh;
}

#mainpage .rounds ul li.selected div {
	background: #464;
}

#mainpage .rounds ul li.selected div p {
	color: #fff;
}

#mainpage .rounds ul li.selected div span {
	color: #ddd;
}

#mainpage .rounds ul li.selected div i {
	color: #fff;
}

#mainpage .rounds li {
	height: 7vh;
	position: relative;
}

#mainpage .rounds li div.title {
	height: 4vh;
	width: calc(76vw - 4vh);
	background-color: #fff;
	padding: 1vh;
	border-left: #6f8b74 solid 1vh;
	float: left;
}

#mainpage .rounds li div.enter {
	height: 4vh;
	width: calc(20vw - 4vh);
	background-color: #fff;
	padding: 1vh;
	display: inline-block;
	float: left;
	margin-left: 1vh;
	text-align: center;
	line-height: 4vh;
}

#mainpage .rounds li div.title p {
	font-size: 2.5vh;
	line-height: 3.5vh;
	font-weight: bold;
	display: inline;
}

#mainpage .rounds li div.title span {
	color: #666;
	font-size: 2vh;
	margin-left: 1vh;
}

#mainpage .selround {
	width: 100vw;
	height: auto;
	background: #e6e6e6;
	padding: 1.5vh 0;
}

#mainpage .selround p {
	display: inline;
	font-size: 2.5vh;
	margin-left: 2vh;
	margin-right: 1vh;
}

#mainpage .selround button {
	font-size: 2.5vh;
	padding: 1vh 0.8vh;
	border: 0;
	background: #fff;
}

#mainpage .selround button.setting {
	color: #464;
	padding: 1vh 2.5vh;
}

#mainpage .selround button.addup {
	color: #444;
}

#mainpage .selround button.adddown {
	color: #444;
}

#mainpage .selround button.delete {
	color: #d04d1a;
}

#mainpage .log {
	font-size: 2vh;
	height: auto;
	line-height: 5vh;
	padding: 0 2vh;
	border-bottom: 1px #444 solid;
	color: #464;
}

#mainpage .log p.err {
	color: #d04d1a;
}

#mainpage .score {
	padding: 2vh;
}

#mainpage .score ul {
	list-style: none;
}

#mainpage .score ul li span {
	font-size: 2.5vh;
	margin-right: 1.5vh;
	line-height: 4vh;
}

#mainpage .score ul li span.name {
	display: inline-block;
	width: 16vh;
	max-width: 16vh;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: -1vh;
}

#mainpage .score ul li span.tenn {
	font-size: 3vh;
	display: inline-block;
	width: 10vh;
	max-width: 10vh;
}

#mainpage .score ul li span.pt {
	display: inline-block;
	width: 10vh;
	max-width: 10vh;
}

#mainpage .score ul li span.rank {
	background: #d84;
	font-size: 2vh;
	padding: 0.5vh 2vh;
	margin-right: 0;
	color: #fff;
	font-weight: bold;
}
#mainpage .file{
	width: calc(100vw - 4vh);
	padding: 2vh;
	background: #eee;
}
#mainpage .file button{
	background-color: #fff;
	border: 0;
	padding: 1vh 2vh;
	margin-bottom: 1vh;
	margin-right: 1vh;
	border: 1px solid #ddd;
}
.kuroi {
	z-index: 10;
	background: #00000099;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.popup {
	z-index: 11;
	background: #fff;
	height: auto;
	width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.popup>p {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	color: #fff;
	margin: 2vh 0;
}

.popup>p.cancel {
	background: #469;
	width: 30%;
	text-align: center;
	margin: 2vh auto;
}

.popup>p.submit {
	background: #464;
	width: 30%;
	text-align: center;
	margin: 2vh auto;
}

.popup h1 {
	font-size: 3vh;
	text-align: center;
}

.popup h1 span {
	font-size: 2vh;
}

.popup ul {
	list-style: square;
	margin-left: 12%;
}

.popup ul li {
	width: 60vw;
	margin-top: 1vh;
}

.popup ul li p {
	font-size: 2.5vh;
}

.popup ul li input {
	font-size: 2.5vh;
	line-height: 3.5vh;
	padding: 0 1vh;
	width: 55vw;
}

.popup p.submit.danger {
	background: #b22;
}

.popup input {
	margin-left: 2vh;
}



.tennsu {
	z-index: 11;
	background: #fff;
	height: auto;
	max-height: 90vh;
	overflow-y: scroll;
	width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.tennsu>p {
	margin-left: 2vh;
	font-size: 2vh;
	margin-top: 1vh;
}

.tennsu h2 {
	font-size: 3vh;
	text-align: center;
	background: #eee;
	padding: 1vh 0;
	display: block;
	margin: 0 auto;
	width: calc(100% - 6vh);
}

.tennsu>p.cancel {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #469;
	width: 30%;
	text-align: center;
	color: #fff;
}

.tennsu div {
	margin: 0 3vh;
}

.tennsu div button {
	border: none;
	background: #eee;
	padding: 1vh;
	margin: 0.5vh 0;
}

.tennsu div.fu button,
button.chisa {
	padding: 1vh 3vh !important;
}

.tennsu>p.submit {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #464;
	width: 30%;
	text-align: center;
	color: #fff;
}

.tennsu h1 {
	font-size: 3vh;
	text-align: center;
}

.tennsu h1 span {
	font-size: 2vh;
}

.tennsu ul li input {
	font-size: 2.5vh;
	line-height: 3.5vh;
	padding: 0 1vh;
	width: 55vw;
}

.tennsu p.submit.danger {
	background: #b22;
}

.tennsu .agaricha button.selected {
	background: #c24;
	color: #fff;
}

.tennsu .houchuucha button.selected {
	background: #d68a10;
	color: #fff;
}

.tennsu .fan button.selected {
	background: #4d5e9e;
	color: #fff;
}

.tennsu .fu button.selected {
	background: #464;
	color: #fff;
}

.tennsu input {
	margin-left: 2vh;
}




.hitori {
	z-index: 11;
	background: #fff;
	height: auto;
	max-height: 90vh;
	overflow-y: scroll;
	width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hitori>p {
	margin-left: 2vh;
	font-size: 2vh;
	margin-top: 1vh;
}

.hitori h2 {
	font-size: 3vh;
	text-align: center;
	background: #eee;
	padding: 1vh 0;
	display: block;
	margin: 0 auto;
	width: calc(100% - 6vh);
}

.hitori>p.cancel {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #469;
	width: 30%;
	text-align: center;
	color: #fff;
}

.hitori div {
	margin: 0 3vh;
}

.hitori div button {
	border: none;
	background: #eee;
	padding: 1vh;
	margin: 0.5vh 0;
}

.hitori div.fu button {
	padding: 1vh 3vh !important;
}

.hitori>p.submit {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #464;
	width: 30%;
	text-align: center;
	color: #fff;
}

.hitori h1 {
	font-size: 3vh;
	text-align: center;
}

.hitori h1 span {
	font-size: 2vh;
}

.aite button.selected {
	background: #c24;
	color: #fff;
}

#rnd>div {
	border-radius: 0;
}

#rnd .header {
	width: 100vw;
	height: 5vh;
	background: #464;
	border-radius: 0 0 0.5vh 0.5vh;
}

#rnd .header h1 {
	color: #fff;
	font-size: 2.5vh;
	line-height: 5vh;
	margin-left: 2vh;
	display: inline;
}

#rnd .datas {
	width: calc(100vw - 4vh);
	padding: 2vh;
	background: #eee;
	height: 60vh;
	overflow-y: scroll;
}

#rnd .datas h1,
#rnd .datas span {
	font-size: 3.5vh;
	margin-bottom: 2vh;
	line-height: 4vh;
}

#rnd .datas h1 button {
	font-size: 3.5vh;
	height: 4vh;
	border: none;
	line-height: 4vh;
	width: 4vh;
	background: #464;
	color: #fff;
	margin-right: 2vh;
}

#rnd .datas h1 button i {
	font-size: 2vh;
	line-height: 4vh;
	text-align: center;
}

#rnd .datas ul {
	list-style: none;
}

#rnd .datas ul li .num {
	width: calc(68vw - 6vh);
	float: left;
	background: #fff;
	border: 1px #ddd solid;
	margin-bottom: 1vh;
}

#rnd .datas ul li .num .title {
	color: #fff;
	background: #464;
	padding: 1vh;
	font-weight: bold;
}

#rnd .datas ul li .num .detail {
	padding: 1vh;
}

#rnd .datas ul li .fix,
#rnd .datas ul li .del {
	width: calc(15vw - 4vh);
	padding: 1vh;
	float: left;

	border: 1px #ddd solid;
	background: #fff;
	text-align: center;
}

#rnd .datas ul li .fix {
	margin: 0 2vh;
	color: #464;
}

#rnd .datas ul li .del {
	color: #b22;
}

#rnd .op {
	width: calc(100vw - 4vh);
	margin: 2vh;
}

#rnd .op div {
	padding: 1vh 3vh;
	font-size: 2vh;
	background: #eee;
	display: inline-block;
	margin-bottom: 1vh;
	margin-right: 1vh;
}

.tsumo {
	background: #c24 !important;
	color: #fff !important;
}

.ron {
	background: #cc3610 !important;
	color: #fff !important;
}

.reach {
	background: #d68a10 !important;
	color: #fff !important;
}

.agari_kyoutaku {
	background: #718758 !important;
	color: #fff !important;
}

.howannpai_ryuukyoku {
	background: #4d5e9e !important;
	color: #fff !important;
}

.chuuto_ryuukyoku {
	background: #64889e !important;
	color: #fff !important;
}

.ryuumann {
	background: #83459e !important;
	color: #fff !important;
}



.howann {
	z-index: 11;
	background: #fff;
	height: auto;
	max-height: 90vh;
	overflow-y: scroll;
	width: 80vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.howann>p {
	margin-left: 2vh;
	font-size: 2vh;
	margin-top: 1vh;
}

.howann h2 {
	font-size: 3vh;
	text-align: center;
	background: #eee;
	padding: 1vh 0;
	display: block;
	margin: 0 auto;
	width: calc(100% - 6vh);
}

.howann>p.cancel {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #469;
	width: 30%;
	text-align: center;
	color: #fff;
}

.howann div {
	margin: 0 3vh;
}

.howann div button {
	border: none;
	background: #eee;
	padding: 1vh;
	margin: 0.5vh 0;
}

.howann>p.submit {
	font-size: 2.5vh;
	padding: 1vh 2vh;
	border: 0;
	margin: 2vh auto;
	background: #464;
	width: 30%;
	text-align: center;
	color: #fff;
}

.howann h1 {
	font-size: 3vh;
	text-align: center;
}

.howann button.selected {
	background: #7caa37;
	color: #fff;
}

.howann input {
	margin-left: 2vh;
}

#mainpage .header h1 span {
	font-size: 1.5vh;
	color: #ffffff33;
}

#rnd .op .prev_round,
#rnd .op .next_round {
	border: #ddd 1px solid;
}

#rnd .temp_score {
	width: calc(100vw - 4vh);
	padding: 2vh;
	overflow-x: hidden;
}

#rnd .temp_score p {
	font-size: 2.5vh;
	line-height: 5vh;
	border-left: #464 1vh solid;
	padding-left: 2vh;
}

#rnd .temp_score ol {
	list-style: none;
	margin-left: 3vh;
}

#rnd .temp_score ol li {
	font-size: 2vh;
	line-height: 4vh;
	float: left;
	margin-right: 2vh;
}

.ranking_1 {
	background: #e67416 !important;
}

.ranking_2 {
	background: #e79e44 !important;
}

.ranking_3 {
	background: #868b57 !important;
}

.ranking_4 {
	background: #435354 !important;
}
.help ul{
	list-style:none;
}
.help .heading{
	background: #464;
	color:#fff;
	padding: 4vh 2vh;
}
.help h1{
	display: inline-block;
	font-size: 4vh;
	line-height: 4vh;
}
.help p{
	background: #fff;
	color: #464;
	border: 0;
	line-height: 4vh;
	height: 4vh;
	width: 4vh;
	text-align: center;
	margin-right: 2vh;
	display: inline-block;
	translate: 0 -12%;
	cursor: pointer;
}
.help>ul{
	padding: 2vh;
	background: #eee;
}
.help>ul>li{
	background: #fff;
	
	margin-bottom: 1vh;
	border: 1px #ddd solid;
}
.help>ul>li h2{
	font-size: 2.5vh;
	padding: 2vh;
	cursor: pointer;
}
.help>ul>li ul{
	padding: 0 2vh 2vh 2vh;
}
.help ul li ul li{
	margin-bottom: 0.5vh;
}
#mainpage .rounds li div{
	cursor: pointer;
}
#rnd .datas ul div.fix,
#rnd .datas ul div.del{
	cursor: pointer;
}